Algorithms/obj/project.assets.json
Algorithms/obj/Debug/netcoreapp2.0/Algorithms.AssemblyInfo.cs
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Algorithms/v15/Server/sqlite3/storage.ide
.vs/Algorithms/v15/Server/sqlite3/db.lock
Algorithms/obj/Algorithms.csproj.nuget.g.targets
.vs/Algorithms/v15/Server/sqlite3/storage.ide-wal
Algorithms/obj/Algorithms.csproj.nuget.g.props
.vs/Algorithms/v15/Server/sqlite3/storage.ide-shm
